.div-text {
    color: gray;
}

.div-text:hover {
    color: black;
}

.menu:hover {
    background-color: #FAFAFA;
}

.background-chosen {
    background-color: #F5F5F5;
}

.parent-chosen {
    color: #03A9F4 !important;
}

.child-chosen {
    color: #03A9F4 !important;
    background-color: #FAFAFA;
}

.title {
    font-size: 1.25rem; 
    line-height: 1.6; 
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase !important;
}

.sub-title {
    font-size: 1.25rem; 
    line-height: 1.6; 
    font-weight: 500;
    margin-bottom: 20px;
}

thead {
    background-color: #B3E5FC;
}

/* .my-table tbody tr:hover {
    background-color: #FAFAFA;
} */

.arrow {
    color: gray
}

.selected-arrow {
    color: black
}

.error-message {
    font-size: 12px;
    line-height: 12px;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    transition-duration: 150ms;
    color: rgb(176,0,32,1);
}

.message {
    font-size: 12px;
    line-height: 12px;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    transition-duration: 150ms;
    color: black;
}

.disabled {
    color: black;
}

.price {
    color: #E65100;
}

.border-chosen {
    border: 1px solid #03A9F4;
}

.dashed-border {
    border: 1px dashed #03A9F4;
}